#chatbox-container{
    position:absolute;
    height:14rem;
    width:15rem;
    border:1px solid black;
    top: 68vh;
    left: 80vw;
}
.message-container{
    min-height:10rem;
    /* width:inherit; */
    
}
.message-container ul{
    list-style-type: none;
}
.other-message{
    color: white;
       
}
.other-message span{
    background-color: rgb(59,65,74); 
}

.other-message sub{
    color:black;
}
.self-message{
    background-color: white;
    display: block;
    text-align: right;
    margin-top:0.5rem;
    margin-right: 0.6rem;
    margin-bottom: 0.5rem;
    
}